server:
  port: 8085

spring:
  application:
    name: shopit-gateway

  cloud:
    gateway:
      default-filters:
        - AddResponseHeader=X-Gateway, ShopIt-API-Gateway

      routes:
        - id: chatbot-service
          uri: https://ecom-chat-bot.onrender.com
          predicates:
            - Path=/api/chat/**


        - id: sustainability-service
          uri: https://shopitnow-sustainability-tracker.onrender.com
          predicates:
            - Path=/api/sustainability/**


        - id: core-backend
          uri: https://shopit-now-abs8.onrender.com
          predicates:
            - Path=/api/core/**
          filters:
            - AddResponseHeader=Service, Core-Backend


      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "https://shopit-now-client.vercel.app"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true


logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    org.springframework.web: DEBUG