.navbar-container {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 6px 6px rgba(232, 232, 232, 0.7);
  position: sticky;
  top: 0;
  z-index: 9999999;
  background-color: white;
  justify-content: center;
}
.navbar-container h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  margin-top: 5px;
  padding-right: 3px;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.logo-container {
  font-weight: 400;
  color: #000 !important;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none !important;
}

.navbar-container .account-space {
  display: flex;
  justify-content: space-between;
  width: 97%;
  height: 80px;
  align-items: center;
}
.navbar-container .account-space .searchbar {
  width: 380px;
  max-width: 380px;
  margin: 0 15px;
  height: 32px;
  display: flex;
  background: #fafafa;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 15px;
}
.navbar-container .account-space .searchbar input {
  padding: 0 10px;
  font-size: 14px;
  height: 100%;
  border: 0px;
  outline: none;
  width: 100%;
  background: none;
  font-style: normal;
  font-weight: 300;
}

.navbar-container .account-space .searchbar input::-webkit-input-placeholder {
  font-size: 13px;
  opacity: 0.6;
}

.navbar-container .account-space .searchbar input:-ms-input-placeholder {
  font-size: 13px;
  opacity: 0.6;
}

.navbar-container .account-space .searchbar input::placeholder {
  font-size: 13px;
  opacity: 0.6;
}

.navbar-container .account-space .searchbar .search-icon {
  width: 38px;
  max-width: 38px;
  position: relative;
  cursor: pointer;
  border: none;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  opacity: 0.6;
}

.navbar-container .account-space .user-details {
  display: flex;
  align-items: center;
}
.navbar-container .account-space .user-details .user-links {
  text-decoration: none;
  color: black;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin-right: 12px;
  box-sizing: border-box;
  font-weight: 400;
  text-transform: capitalize;
}

.navbar-container .account-space .user-details .user-links:hover {
  color: red;
}
.navbar-container .account-space .user-details .cart-icon {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
}
.navbar-container .account-space .user-details .cart-icon .warning-icon {
  position: absolute;
  top: -8px;
  left: 10px;
  color: rgb(255, 187, 0);
  font-size: 12px;
}
.navbar-container .account-space .user-details .cart-icon span {
  position: absolute;
  top: -12px;
  left: 10px;
  background: #c4c4c4;
  padding: 1px 5px;
  border-radius: 50%;
  font-size: 10px;
  font-weight: 600;
  color: black !important;
  text-decoration: none !important;
}

.navbar-container .account-space .user-details .cart-icon i {
  color: black !important;
}

.navbar-container .account-space .user-details .cart-icon i:hover {
  color: red !important;
}

.navbar-container .categories-space {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}
.navbar-container .categories-space .categories-link {
  text-decoration: none;
  color: black;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin-right: 16px;
  text-transform: capitalize;
  font-weight: 400;
}
.navbar-container .categories-space .categories-link:hover {
  color: red;
}
.navbar-container .account-space .menu-toggle {
  display: none;
}

.navbar-container .account-space .menu-toggle .fa-bars {
  font-size: 16px;
}

.menu-container {
  z-index: 99999;
  right: 0;
  position: fixed;
  width: 100%;
  height: 0px;
  background-color: rgba(232, 232, 232);
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  display: none;
}
.menuVisible {
  z-index: 99999;
  display: none;
  overflow: hidden;
  right: 0;
  position: fixed;
  width: 100%;
  background-color: rgba(232, 232, 232);
  transition: all 0.5s ease-in-out;
  height: 344px !important;
}
.menu-container .menu-items,
.menuVisible .menu-items {
  width: 100%;
  text-align: center;
  padding: 5px 0px;
  font-size: 16px;
  border-bottom: 1px solid #d6d5d5;
}
.menu-container .menu-items:hover,
.menuVisible .menu-items:hover {
  background-color: #d6d5d5;
}
.menuVisible .logout,
.menu-container .logout {
  text-align: center;
  color: white;
  width: 100%;
  font-size: 18px;
  padding: 4px 0;
  background: red;
}
.menu-user-details {
  color: white;
  background: #343434;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-user-details span {
  padding: 20px 4px;
}
.menu-user-details .cart-icon {
  background-color: white;
  position: relative;
  margin-right: 8px;
  padding: 15px 10px 5px 10px;
  border-radius: 50%;
}
.menu-user-details .cart-icon span {
  position: absolute;
  top: -16px;
  right: 10px;
  color: red;
  font-size: 14px;
  font-weight: 600;
}
.menu-user-details .cart-icon .warning-icon {
  position: absolute;
  top: 5px;
  right: 15px;
  color: red;
  font-size: 14px;
}
.menu-categories-head {
  text-transform: capitalize;
  background-color: #d6d5d5;
  padding: 5px;
  text-align: center;
  letter-spacing: 4px;
  font-size: 18px;
  font-weight: bold;
}
.menu-user-links,
.menu-logout-links {
  width: 100%;
  display: block;
  text-decoration: none !important;
  color: white !important;
  text-transform: capitalize;
}
.menu-categories-links {
  width: 100%;
  display: block;
  text-decoration: none !important;
  color: black !important;
  text-transform: capitalize;
}
@media (max-width: 980px) {
  .navbar-container {
    height: 55px;
  }

  .navbar-container .account-space .searchbar {
    height: 26px;
  }
  .navbar-container .account-space .user-details {
    display: none !important;
  }
  .navbar-container .account-space .menu-toggle,
  .menu-container,
  .menuVisible {
    display: block !important;
  }
  .navbar-container .categories-space {
    display: none;
  }
  .navbar-container .account-space .searchbar .search-icon {
    font-size: 15px;
  }

  .navbar-container .account-space .searchbar input {
    font-size: 14px;
  }

  .navbar-container .account-space .searchbar input::-webkit-input-placeholder {
    font-size: 12px;
  }

  .navbar-container .account-space .searchbar input:-ms-input-placeholder {
    font-size: 12px;
  }

  .navbar-container .account-space .searchbar input::placeholder {
    font-size: 12px;
  }
}
