.todays-deal-container {
  position: relative;
  margin-top: 25px;
}

.todays-deal-sub-container {
  height: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.todays-deal-container .todays-deal-header h2 {
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 600;
  margin: 0;
  flex: 1;
}

.todays-deal-container .todaysdeal-container {
  width: 100%;
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  align-items: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  --scroll-behavior: smooth;
}

.todays-deal-container .todaysdeal-container .todaysdeals-details {
  padding: 5px 15px;
  overflow: hidden;
}

.todays-deal-container .todays-deal-error {
  text-align: center;
  font-size: 13px;
  letter-spacing: 1px;
}

.todays-deal-container .todaysdeal-discount {
  position: absolute;
  top: 0;
  background: #ba2b20;
  color: #fff;
  font-size: 13px;
  padding: 4px 6px;
  font-weight: 400;
}

.todays-deal-container h2 {
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 600;
  margin: 0;
  flex: 1;
}
.todays-deal-container .todays-deal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.todays-deal-container .new-deals-load {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.3;
  pointer-events: none;
  width: 200px;
  height: 100%;
}
.todays-deal-container .item-container {
  border-radius: 5px;
  cursor: pointer;
  flex-shrink: 0;
  width: 285px;
  height: 310px;
  margin-left: 35px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  position: relative;
}
.todays-deal-container .item-container:first-of-type {
  margin-left: 25px;
}
.todays-deal-container .item-container img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.todays-deal-container .item-container h4 {
  font-size: 14px;
  text-align: left;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 22px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  text-transform: capitalize;
  height: 48px;
  margin: 0;
}
.todays-deal-container .item-container h5 {
  font-size: 16px;
  color: #ba2b20;
  margin: 0;
  padding: 5px 0;
}
.todays-deal-container .item-container h6 {
  font-size: 16px;
  color: #5e5e5e;
  text-decoration: line-through;
  margin: 0;
}
.todays-deal-container .todays-deal-head {
  display: flex;
  align-items: center;
}
.todays-deal-container .todays-deal-head span {
  padding-left: 10px;
  color: #5e5e5e;
  font-size: 16px;
  letter-spacing: 3px;
  font-weight: 600;
}

.todays-deal-container .btn-right,
.todays-deal-container .btn-left {
  padding: 2px;
  height: 80px;
  position: absolute;
  top: 42%;
  border: none;
  outline: none;
  background: rgb(228, 228, 228);
  transform: translate(0, -50%);
  z-index: 9999;
  width: 37px;
  border-radius: 5px;
  border: 1px solid #d6d6d6;
}
.todays-deal-container button,
.todays-deal-container button .btn-lr-icons {
  transition: all 0.2s ease-in-out;
}
.todays-deal-container button .btn-lr-icons {
  color: rgba(120, 120, 120);
  pointer-events: none;
}
.remove-btn {
  display: none !important;
}
.todays-deal-container .btn-right {
  right: 0;
}
.todays-deal-container .btn-left {
  left: 0;
}
.todays-deal-container .time-gen-container {
  font-size: 14px;
}
.todays-deal-container .time-gen-container span {
  font-size: 14px;
  padding-left: 4px;
}
@media (max-width: 980px) {
}
